
* {
    padding: 0px;
    box-sizing: border-box;
    font-family: GT Pressure,monospace;
    margin: 0;
}

img {
    display:block;
    width: 100%;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #efe0cb;
}

.nav-bar {
    padding-top: 5px;
    background-color: #182619;
    display: flex;
    align-items: center;

}

.nav-left {
    flex: 3;
    justify-content: flex-start;
}

.navbar {
    width: 40px;
    display: block;
    float: left;
    margin-left: 20px;
    padding-left: 7px;
    transition: all 0.6s;
    border: 3px solid #efe0cb;
}

.navbar div {
    height: 2px !important;
    background: #fff;
    margin: 5px 0px 5px 0px;
    border-radius: 25px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.navone {
 width: 20px;
}
.navtwo {
    width: 15px;
}
.navthree {
    width: 10px;
}


.title {
    padding-right: 20px;
    color:#efe0cb;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin: 4px 0px;
}

.title-dot{
    color: rgb(245, 9, 139);
    font-weight: 700;
}

.section-one {
    display: flex;
    justify-content: center;
    background-color: #182619;
}

.section-one-images {
 width: 33%;
 border: 8px solid #182619;
 border-radius: 10px;
}

.section-two {
    display: flex;
    flex-direction: column;
}

.section-two-title {
    padding-top: 5px;
    font-size: 18px;
    margin: 1% 15%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.section-two-text {
    margin: 2em;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about {
    background-color: #182619;
    color: #efe0cb;
    display: flex;
    justify-content: center;
}

.coffee {
    margin: 20px;
    display:flex;
    flex-direction: column;
    width: 25%;
    background-color: #efe0cb;
    color: #182619;
    border-radius: 3%;
    border: 2px solid #182619;
    overflow: hidden;
}

.coffee-image {
    max-height:300px;
}

.coffee-text{
    padding-left: 10px;
}

.coffee-title {
   text-transform: uppercase;
}

.foodanddrink-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 600;
}

@media (max-width:950px) {
    .section-one-images {
        width: 33%;
    }
    .section-two-title {
        padding-top: 5px;
        font-size: 0.8em;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
    }
    .section-two-text {
        font-size: 14px;
        margin: 1.8em;
        width: 90%;
    }
    .coffee-text{
        padding-left: 10px;
        font-size: 1rem;
    }
    .about {
        display: flex;
        flex-wrap: wrap;

    }
    .coffee {
        width: 40%;
        display: flex;
        justify-items: center;
        min-width: 300px;
    }
}